<%- include('partials/header.ejs', { pageTitle: "About us"}) %>

<h1>About Us</h1>
<p>I got suprised because I've been studying WEB DEVELOPMENT for almost 1year</p>

<%- include('partials/footer.ejs') %>