
<%- include('partials/header.ejs', { pageTitle: "Contact Us"}) %>

<h1>Contact Us</h1>
<p>If you want to know my contacts, you have to give me somethig worth for me</p>

<%- include('partials/footer.ejs') %>